// NOTE: Scale branding by changing font-size on .branding
.branding {
  font-size: 1em;
  color: $grey-light;

  .mm-logo-wrapper {
    height: 2.5em;

    svg {
      height: 100%;
      width: auto;

      * {
        fill: currentColor;
      }
    }
  }

  .cross {
    font-size: 250%;
    line-height: 1; // prevents unwanted extra height
    transform: translateY(-7%); // correct baseline shift
    font-weight: $fw-light;
    margin: 0 1em;
  }

  .author {
    font-weight: $fw-semibold;
    line-height: 1.3;
    font-size: 100%;
    @extend %letter-spaced;

    .line {
      display: flex;
    }
  }
}